@{
    ViewData["Title"] = "Home Page";
}

<div class="min-vh-100 d-flex flex-column ">
    <div class="bg-brand-tertiary banner flex-grow-1 d-flex flex-column">
        <div class="margin-navbar"></div>
        <!-- Slider main container -->
        <div class="main swiper-container flex-grow-1" style="margin-bottom:100px">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <div class="container ">
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="card box-shadow" data-aos="fade-in">
                                    <div class="card-body">
                                        <h4>Main tagline</h4>
                                        <h6>Sub tagline</h6>
                                        <br />
                                        <a href="#" class="btn btn-outline-primary" data-aos="fade-in">Call to action</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="container ">
                        <div class="row">
                            <div class="offset-sm-7 col-sm-5">
                                <div class="card box-shadow" data-aos="fade-in">
                                    <div class="card-body">
                                        <div class="rd-scr">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        </div>
                                        <br />
                                        <a href="#" class="btn btn-outline-primary" data-aos="fade-in">Call to action</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="container ">
                        <div class="row">
                            <div class="offset-sm-1 col-sm-10 ">
                                <div class="card box-shadow" data-aos="fade-in">
                                    <div class="card-body">
                                        <div class="rd-scr">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                        </div>
                                        <br />
                                        <a href="#" class="btn btn-outline-primary" data-aos="fade-in">Call to action</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

            <!-- If we need scrollbar -->
            @*<div class="swiper-scrollbar"></div>*@
        </div>
    </div>

    <div class="py-4 box-shadow">
        <div class="container">
            <div class="card-deck" style="margin-top:-100px">
                <div class="card box-shadow" data-aos="fade-up" data-aos-delay="200">
                    <div class="card-header">
                        About us
                    </div>
                    <div class="card-body small rd-scr">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-secondary btn-sm stretched-link">Read more</a>
                    </div>
                </div>
                <div class="card box-shadow" data-aos="fade-up" data-aos-delay="400">
                    <div class="card-header">
                        What we do
                    </div>
                    <div class="card-body small rd-scr">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-secondary btn-sm stretched-link">Read more</a>
                    </div>
                </div>
                <div class="card box-shadow" data-aos="fade-up" data-aos-delay="600">
                    <div class="card-header">
                        Why choose us
                    </div>
                    <div class="card-body small rd-scr">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>
                    @*<div class="card-footer">
                            <p>Always improving</p>
                            <p>International certified</p>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-brand-secondary vh-66 py-4 d-flex flex-column">
    <div class="container">
        <h5>Products</h5>
    </div>
    <div class="products swiper-container flex-grow-1 pt-3">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            @for (var v = 0; v < 25; v++)
            {
                <div class="swiper-slide text-center">
                    <div class="hover-up">
                        <div class="card" data-aos="fade-up">
                            <img class="card-img-top " src="~/img/chicken.png">
                            <div class="card-body">
                                <h4>
                                    Product name
                                </h4>
                                <div class="rd-scr">Lorem ipsum dolor sit amet.</div>
                            </div>
                            <div class="card-footer d-flex">
                                @*<a href="#" class="btn btn-outline-secondary btn-sm stretched-link">Read more</a>*@
                                <button type="button" class="btn btn-outline-secondary btn-sm stretched-link" data-toggle="modal" data-target="#productModal">
                                    Read more
                                </button>
                                @*<span class="small text-right flex-grow-1">Nov 07 2019</span>*@
                            </div>
                        </div>
                    </div>

                    @*<div style="overflow:hidden">
                            <img src="~/img/chicken.png" class="placeholder-blur" />
                        </div>
                        <h5>
                            Product name
                        </h5>
                        <div>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </div>
                        <div>
                            <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#productModal">
                                Read more
                            </button>
                        </div>*@
                </div>
            }
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        <!-- If we need scrollbar -->
        @*<div class="swiper-scrollbar"></div>*@
    </div>
</div>

<!-- The Modal -->
<div class="modal fade" id="productModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Product name</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body text-center">
                <img src="~/img/chicken.png" class="" />
                <div class="rd-scr">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                @*<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>*@
                <a href="#">More</a>
            </div>

        </div>
    </div>
</div>

<div class="vh-33 box-shadow layer-2 p-5">
    <div class="container">
        <h5>Achievements</h5>
    </div>
    <div class="card-deck">
        @for (var v = 0; v < 4; v++)
        {
            <div class="card" data-aos="fade-up" data-aos-delay="@(v * 100)">
                <div class="card-body award box-shadow">
                    <div class="award-header">
                        <span>
                            <i class="fas fa-trophy"></i>
                            Award of Excellence
                        </span>
                    </div>
                    <hr />
                    <div class="award-content rd-scr">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                </div>
            </div>
        }
    </div>
</div>


<div class="bg-brand-light-gray vh-66 py-5">
    <div class="container">
        <h5>Testimonials</h5>
        <div class="row">
            @for (var v = 0; v < 3; v++)
            {
                <div class="col-sm-4">
                    <div class="speech-bubble box-shadow p-4" data-aos="fade-in" data-aos-delay="@(v * 100)">
                        <div>
                            <span class="bubble-name">JOHN</span>
                            <span class="bubble-country"> - Melbourne, Australia</span>
                            <span class="bubble-flag flag-icon flag-icon-au"></span>
                        </div>
                        <div class="bubble-stars gold">
                            <i class="fas fa-star gold"></i>
                            <i class="fas fa-star gold"></i>
                            <i class="fas fa-star gold"></i>
                            <i class="fas fa-star gold"></i>
                            <i class="fas fa-star gold"></i>
                        </div>
                        <div>
                            <span class="bubble-content rd-scr">This is brilliant. Really interesting. I'm loving it."</span>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row pt-5">
            <div class="offset-sm-2"></div>
            @for (var v = 0; v < 2; v++)
            {
                <div class="col-sm-4">
                    <div class="speech-bubble box-shadow p-4" data-aos="fade-in" data-aos-delay="@(v * 100)">
                        <div>
                            <span class="bubble-name">JOHN</span>
                            <span class="bubble-country"> - Melbourne, Australia</span>
                            <span class="flag-icon flag-icon-au"></span>
                        </div>
                        <div class="bubble-stars">
                            <i class="fas fa-star gold"></i>
                            <i class="fas fa-star gold"></i>
                            <i class="fas fa-star gold"></i>
                            <i class="fas fa-star gold"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <div>
                            <span class="bubble-content rd-scr">"This is brilliant. Really interesting. I'm loving it."</span>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="bg-brand-secondary vh-33 box-shadow py-4">
    <div class="container">
        <h5>Company News</h5>

        <div class="card-deck">
            <div class="card" data-aos="fade-up">
                <img class="card-img-top placeholder-blur" src="~/img/placeholder-blue.png" alt="Card image">
                <div class="card-body rd-scr">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </div>
                <div class="card-footer d-flex">
                    <a href="#" class="btn btn-outline-secondary btn-sm stretched-link">Read more</a>
                    <span class="small text-right flex-grow-1">Nov 07 2019</span>
                </div>
            </div>
            <div class="card" data-aos="fade-up" data-aos-delay="100">
                <img class="card-img-top placeholder-blur" src="~/img/placeholder-purple.png" alt="Card image">
                <div class="card-body rd-scr">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </div>
                <div class="card-footer d-flex">
                    <a href="#" class="btn btn-outline-secondary btn-sm stretched-link">Read more</a>
                    <span class="small text-right flex-grow-1">Apr 24 2019</span>
                </div>
            </div>
            <div class="card" data-aos="fade-up" data-aos-delay="200">
                <img class="card-img-top placeholder-blur" src="~/img/placeholder-orange.png" alt="Card image">
                <div class="card-body rd-scr">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </div>
                <div class="card-footer d-flex">
                    <a href="#" class="btn btn-outline-secondary btn-sm stretched-link">Read more</a>
                    <span class="small text-right flex-grow-1">Feb 11 2019</span>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var mainSwiper = new Swiper('.main.swiper-container', {
        // Optional parameters
        //direction: 'vertical',
        loop: true,

        // If we need pagination
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },

        // Navigation arrows
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },

        autoplay: {
            delay: 5000,
        },

        // And if we need scrollbar
        //scrollbar: {
        //    el: '.swiper-scrollbar',
        //},
    })

    var productsSwiper = new Swiper('.products.swiper-container', {
        slidesPerView: 5,
        spaceBetween: 30,

        // Optional parameters
        //direction: 'vertical',
        loop: true,

        // If we need pagination
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },

        // Navigation arrows
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },

        autoplay: {
            delay: 3000,
        },

        // And if we need scrollbar
        //scrollbar: {
        //    el: '.swiper-scrollbar',
        //},
    })
</script>