@{
    ViewData["Title"] = "Home Page";
}

<div class="vh-100 d-flex flex-column flex">
    <div class="bg-brand-tertiary banner flex-grow-1">
        <div class="container ">
            <div class="row">
                <div class="col-sm-4" data-aos="fade-in">
                    <div>
                        <div>Main tagline</div>
                        <div>Sub tagline about the company</div>
                    </div>
                    <div>
                        <button>Call to action</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />

    <div class="">
        <div class="container">
            <div class="row">
                <div class="col-sm-4" data-aos="fade-up">
                    <div>About us</div>
                    <div>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>
                    <a>Read More</a>
                </div>
                <div class="col-sm-4" data-aos="fade-up">
                    <div>What we do</div>
                    <div>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>
                    <a>Read More</a>
                </div>
                <div class="col-sm-4" data-aos="fade-up">
                    <div>Why choose us</div>
                    <div>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>
                    <a>Always improving</a>
                    <a>International certified</a>
                </div>
            </div>
        </div>
    </div>

    <br />

</div>

<div class="bg-brand-secondary">
    <div class="container">
        <div class="row bg-brand-secondary">
            &lt; Swiper &gt;
        </div>
    </div>
</div>

<br />

<div class="bg-brand-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-12" data-aos="fade-in">Company Achievements</div>
            <div class="col-sm-3" data-aos="fade-up">
                <div>Icon</div>
                <div>JDH Award of Excellence</div>
                <div>For being amazing at everything</div>
            </div>
            <div class="col-sm-3" data-aos="fade-up">
                <div>Icon</div>
                <div>JDH Award of Excellence</div>
                <div>For being amazing at everything</div>
            </div>
            <div class="col-sm-3" data-aos="fade-up">
                <div>Icon</div>
                <div>JDH Award of Excellence</div>
                <div>For being amazing at everything</div>
            </div>
            <div class="col-sm-3" data-aos="fade-up">
                <div>Icon</div>
                <div>JDH Award of Excellence</div>
                <div>For being amazing at everything</div>
            </div>
        </div>
    </div>
</div>

<br />

<div>
    <div class="container">
        <div data-aos="fade-in">
            <div>
                Testimonials
            </div>
            <div>Lorem Ipsum</div>
            <div>John S. Gates</div>
        </div>
    </div>
</div>

<br />

<div class="bg-brand-secondary">
    <div class="container">
        <div>
            Company News
        </div>
        <div class="row" data-aos="fade-in">
            <div class="col-sm-4" data-aos="fade-up">
                <div>Image</div>
                <div>Lorem Ipsum</div>
                <button>View more</button>
                <div>Date</div>
            </div>
            <div class="col-sm-4" data-aos="fade-up">
                <div>Image</div>
                <div>Lorem Ipsum</div>
                <button>View more</button>
                <div>Date</div>
            </div>
            <div class="col-sm-4" data-aos="fade-up">
                <div>Image</div>
                <div>Lorem Ipsum</div>
                <button>View more</button>
                <div>Date</div>
            </div>
        </div>
    </div>
</div>